<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>

<body>
    <form action="/add" method="post">
        <label for="value">Enter value</label>
        <input type="number" placeholder="value" name="value" id="value">

        <label for="name">Enter Medicine name</label>
        <input type="text" placeholder="medicine name" name="name" id="name">

        <label for="price">Enter rate</label>
        <input type="number" placeholder="rate" name="price" id="price">

        <label for="qty">Enter Quantity</label>
        <input type="number" placeholder="quantity" name="qty" id="qty">




        <button>Submit</button>
    </form>

</body>

</html>