<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>

<body>
    <h1>All meds</h1>
    <form action="/bill" method="GET">
        <label for="med">Medicine</label>
        <select name="med" id="med">
            <option >--Select one--</option>
            <% for(let pdt of products) {%>
            <option value="<%= pdt.value %> " ><%= pdt.name%></option>
            <% } %> 
        </select>

        <label for="qty">Choose quantity</label>
        <input type="number" id="qty" name="qty" min="0" max="10">
        <button>Submit</button>
    </form>
    <div>
        <a href="/add">Add medicine</a>
    </div>
</body>

</html>